$mainHead-bg-color: white;
$sNav-bg-color: #505050;
$sideHead-bg-color: #690800;
$main-text-color: rgb(128, 128, 128);

$main-fontB-family: 'Lato', sans-serif;
$main-font-size: 16px;
$header-font-size: 0.8em;
